.dropdown {
 padding: 5px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.card:nth-child(odd) {
  background-image: linear-gradient(to left, rgba(1, 137, 12, .5), rgba(1, 137, 12, .9));
  width: 100%;
  border-radius: 5px;
  color: white;
}

.card:nth-child(even) {
  background-color: rgba(236, 108, 33, .3);
  width: 100%;
  border-radius: 5px;
  color: black;
}

ul {
  list-style-type: none;
}
